/** reset preset block css **/
.wp-block-cover-image .wp-block-cover-image-text,
.wp-block-cover-image .wp-block-cover-text,
.wp-block-cover-image h2,
.wp-block-cover .wp-block-cover-image-text,
.wp-block-cover .wp-block-cover-text,
.wp-block-cover h2 {
  max-width: none;
}

.wp-block-cover .has-text-align-left {
  text-align: left;
}
.wp-block-cover .has-text-align-center {
  text-align: center;
}
.wp-block-cover .has-text-align-right {
  text-align: right;
}

.wp-block-table table {
  border: 1px solid var(--visual-editor-extra-border-color, unset);
}
.wp-block-table td,
.wp-block-table th {
  border: unset;
  border-top: 1px solid var(--visual-editor-extra-border-color, unset);
  border-right: 1px solid var(--visual-editor-extra-border-color, unset);
  padding: 0.6rem;
}
.wp-block-table thead {
  border-bottom: 2px solid;
}
.wp-block-table tfoot {
  border-top: 2px solid;
}
.wp-block-table.is-style-regular table {
  border: 1px solid var(--visual-editor-extra-border-color, unset);
}
.wp-block-table.is-style-regular thead,
.wp-block-table.is-style-regular tfoot {
  border-color: var(--visual-editor-extra-border-color, unset);
}
.wp-block-table.is-style-stripes {
  border-bottom: unset;
}
.wp-block-table.is-style-stripes table {
  border: unset;
}
.wp-block-table.is-style-stripes thead,
.wp-block-table.is-style-stripes tfoot {
  border-color: var(--visual-editor-extra-border-color, unset);
}

.wp-block-separator.is-style-dots {
  box-shadow: unset;
}

.is-style-default .wp-block-button__link:hover,
.is-style-squared .wp-block-button__link:hover {
  text-decoration: none;
  opacity: 0.8;
}

.is-style-outline .wp-block-button__link:hover {
  text-decoration: underline;
}

.wp-block-group.has-background {
  padding: var(--visual-editor-extra-space-padding-medium, unset);
}

.is-margin-none {
  margin-top: var(--visual-editor-extra-space-margin-top-none, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-none, unset);
}

.is-margin-small {
  margin-top: var(--visual-editor-extra-space-margin-top-small, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-small, unset);
}

.is-margin-medium {
  margin-top: var(--visual-editor-extra-space-margin-top-medium, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-medium, unset);
}

.is-margin-large {
  margin-top: var(--visual-editor-extra-space-margin-top-large, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-large, unset);
}

.is-margin-huge {
  margin-top: var(--visual-editor-extra-space-margin-top-huge, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-huge, unset);
}

.entry-content *.is-margin-none {
  margin-top: var(--visual-editor-extra-space-margin-top-none, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-none, unset);
}
.entry-content *.is-margin-small {
  margin-top: var(--visual-editor-extra-space-margin-top-small, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-small, unset);
}
.entry-content *.is-margin-medium {
  margin-top: var(--visual-editor-extra-space-margin-top-medium, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-medium, unset);
}
.entry-content *.is-margin-large {
  margin-top: var(--visual-editor-extra-space-margin-top-large, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-large, unset);
}
.entry-content *.is-margin-huge {
  margin-top: var(--visual-editor-extra-space-margin-top-huge, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-huge, unset);
}

/** for Specificity blocks **/
.entry-content .wp-block-buttons.is-margin-none,
.entry-content .wp-block-button.is-margin-none,
.entry-content .wp-block-image.is-margin-none,
.entry-content .wp-block-table.is-margin-none,
.entry-content .wp-block-gallery.is-margin-none,
.entry-content .wp-block-media-text.is-margin-none,
.entry-content .wp-block-group.is-margin-none,
.entry-content .wp-block-columns.is-margin-none,
.entry-content .wp-block-column.is-margin-none {
  margin-top: var(--visual-editor-extra-space-margin-top-none, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-none, unset);
}
.entry-content .wp-block-buttons.is-margin-small,
.entry-content .wp-block-button.is-margin-small,
.entry-content .wp-block-image.is-margin-small,
.entry-content .wp-block-table.is-margin-small,
.entry-content .wp-block-gallery.is-margin-small,
.entry-content .wp-block-media-text.is-margin-small,
.entry-content .wp-block-group.is-margin-small,
.entry-content .wp-block-columns.is-margin-small,
.entry-content .wp-block-column.is-margin-small {
  margin-top: var(--visual-editor-extra-space-margin-top-small, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-small, unset);
}
.entry-content .wp-block-buttons.is-margin-medium,
.entry-content .wp-block-button.is-margin-medium,
.entry-content .wp-block-image.is-margin-medium,
.entry-content .wp-block-table.is-margin-medium,
.entry-content .wp-block-gallery.is-margin-medium,
.entry-content .wp-block-media-text.is-margin-medium,
.entry-content .wp-block-group.is-margin-medium,
.entry-content .wp-block-columns.is-margin-medium,
.entry-content .wp-block-column.is-margin-medium {
  margin-top: var(--visual-editor-extra-space-margin-top-medium, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-medium, unset);
}
.entry-content .wp-block-buttons.is-margin-large,
.entry-content .wp-block-button.is-margin-large,
.entry-content .wp-block-image.is-margin-large,
.entry-content .wp-block-table.is-margin-large,
.entry-content .wp-block-gallery.is-margin-large,
.entry-content .wp-block-media-text.is-margin-large,
.entry-content .wp-block-group.is-margin-large,
.entry-content .wp-block-columns.is-margin-large,
.entry-content .wp-block-column.is-margin-large {
  margin-top: var(--visual-editor-extra-space-margin-top-large, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-large, unset);
}
.entry-content .wp-block-buttons.is-margin-huge,
.entry-content .wp-block-button.is-margin-huge,
.entry-content .wp-block-image.is-margin-huge,
.entry-content .wp-block-table.is-margin-huge,
.entry-content .wp-block-gallery.is-margin-huge,
.entry-content .wp-block-media-text.is-margin-huge,
.entry-content .wp-block-group.is-margin-huge,
.entry-content .wp-block-columns.is-margin-huge,
.entry-content .wp-block-column.is-margin-huge {
  margin-top: var(--visual-editor-extra-space-margin-top-huge, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-huge, unset);
}

/** for stash **/
.entry-content * + h1.is-margin-none, .entry-content * + h2.is-margin-none, .entry-content * + h3.is-margin-none, .entry-content * + h4.is-margin-none, .entry-content * + h5.is-margin-none, .entry-content * + h6.is-margin-none,
.entry-content * + p.is-margin-none, .entry-content * + ul.is-margin-none, .entry-content * + ol.is-margin-none,
.entry-content * + .wp-block-image.is-margin-none,
.entry-content * + .wp-block-table.is-margin-none,
.entry-content * + .wp-block-button.is-margin-none,
.entry-content * + .wp-block-buttons.is-margin-none,
.entry-content * + .wp-block-group.is-margin-none,
.entry-content * + .wp-block-columns.is-margin-none,
.entry-content * + .wp-block-media-text.is-margin-none {
  margin-top: var(--visual-editor-extra-space-margin-top-none, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-none, unset);
}
.entry-content * + h1.is-margin-small, .entry-content * + h2.is-margin-small, .entry-content * + h3.is-margin-small, .entry-content * + h4.is-margin-small, .entry-content * + h5.is-margin-small, .entry-content * + h6.is-margin-small,
.entry-content * + p.is-margin-small, .entry-content * + ul.is-margin-small, .entry-content * + ol.is-margin-small,
.entry-content * + .wp-block-image.is-margin-small,
.entry-content * + .wp-block-table.is-margin-small,
.entry-content * + .wp-block-button.is-margin-small,
.entry-content * + .wp-block-buttons.is-margin-small,
.entry-content * + .wp-block-group.is-margin-small,
.entry-content * + .wp-block-columns.is-margin-small,
.entry-content * + .wp-block-media-text.is-margin-small {
  margin-top: var(--visual-editor-extra-space-margin-top-small, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-small, unset);
}
.entry-content * + h1.is-margin-medium, .entry-content * + h2.is-margin-medium, .entry-content * + h3.is-margin-medium, .entry-content * + h4.is-margin-medium, .entry-content * + h5.is-margin-medium, .entry-content * + h6.is-margin-medium,
.entry-content * + p.is-margin-medium, .entry-content * + ul.is-margin-medium, .entry-content * + ol.is-margin-medium,
.entry-content * + .wp-block-image.is-margin-medium,
.entry-content * + .wp-block-table.is-margin-medium,
.entry-content * + .wp-block-button.is-margin-medium,
.entry-content * + .wp-block-buttons.is-margin-medium,
.entry-content * + .wp-block-group.is-margin-medium,
.entry-content * + .wp-block-columns.is-margin-medium,
.entry-content * + .wp-block-media-text.is-margin-medium {
  margin-top: var(--visual-editor-extra-space-margin-top-medium, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-medium, unset);
}
.entry-content * + h1.is-margin-large, .entry-content * + h2.is-margin-large, .entry-content * + h3.is-margin-large, .entry-content * + h4.is-margin-large, .entry-content * + h5.is-margin-large, .entry-content * + h6.is-margin-large,
.entry-content * + p.is-margin-large, .entry-content * + ul.is-margin-large, .entry-content * + ol.is-margin-large,
.entry-content * + .wp-block-image.is-margin-large,
.entry-content * + .wp-block-table.is-margin-large,
.entry-content * + .wp-block-button.is-margin-large,
.entry-content * + .wp-block-buttons.is-margin-large,
.entry-content * + .wp-block-group.is-margin-large,
.entry-content * + .wp-block-columns.is-margin-large,
.entry-content * + .wp-block-media-text.is-margin-large {
  margin-top: var(--visual-editor-extra-space-margin-top-large, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-large, unset);
}
.entry-content * + h1.is-margin-huge, .entry-content * + h2.is-margin-huge, .entry-content * + h3.is-margin-huge, .entry-content * + h4.is-margin-huge, .entry-content * + h5.is-margin-huge, .entry-content * + h6.is-margin-huge,
.entry-content * + p.is-margin-huge, .entry-content * + ul.is-margin-huge, .entry-content * + ol.is-margin-huge,
.entry-content * + .wp-block-image.is-margin-huge,
.entry-content * + .wp-block-table.is-margin-huge,
.entry-content * + .wp-block-button.is-margin-huge,
.entry-content * + .wp-block-buttons.is-margin-huge,
.entry-content * + .wp-block-group.is-margin-huge,
.entry-content * + .wp-block-columns.is-margin-huge,
.entry-content * + .wp-block-media-text.is-margin-huge {
  margin-top: var(--visual-editor-extra-space-margin-top-huge, unset);
  margin-bottom: var(--visual-editor-extra-space-margin-bottom-huge, unset);
}

.is-padding-none,
.is-padding-none.has-background,
.wp-block-group.is-padding-none.has-background {
  padding: var(--visual-editor-extra-space-padding-none, unset);
}

.is-padding-small,
.is-padding-small.has-background,
.wp-block-group.is-padding-small.has-background {
  padding: var(--visual-editor-extra-space-padding-small, unset);
}
.is-padding-small.disable-padding-horizontal,
.is-padding-small.has-background.disable-padding-horizontal,
.wp-block-group.is-padding-small.has-background.disable-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.is-padding-medium,
.is-padding-medium.has-background,
.wp-block-group.is-padding-medium.has-background {
  padding: var(--visual-editor-extra-space-padding-medium, unset);
}
.is-padding-medium.disable-padding-horizontal,
.is-padding-medium.has-background.disable-padding-horizontal,
.wp-block-group.is-padding-medium.has-background.disable-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.is-padding-large,
.is-padding-large.has-background,
.wp-block-group.is-padding-large.has-background {
  padding: var(--visual-editor-extra-space-padding-large, unset);
}
.is-padding-large.disable-padding-horizontal,
.is-padding-large.has-background.disable-padding-horizontal,
.wp-block-group.is-padding-large.has-background.disable-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.is-padding-huge,
.is-padding-huge.has-background,
.wp-block-group.is-padding-huge.has-background {
  padding: var(--visual-editor-extra-space-padding-huge, unset);
}
.is-padding-huge.disable-padding-horizontal,
.is-padding-huge.has-background.disable-padding-horizontal,
.wp-block-group.is-padding-huge.has-background.disable-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

.disable-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

/** for alignwide and alignfull **/
[class*=wp-block-].alignwide.is-padding-none, [class*=wp-block-].alignfull.is-padding-none {
  padding: var(--visual-editor-extra-space-padding-none, unset);
}
[class*=wp-block-].alignwide.is-padding-small, [class*=wp-block-].alignfull.is-padding-small {
  padding: var(--visual-editor-extra-space-padding-small, unset);
}
[class*=wp-block-].alignwide.is-padding-medium, [class*=wp-block-].alignfull.is-padding-medium {
  padding: var(--visual-editor-extra-space-padding-medium, unset);
}
[class*=wp-block-].alignwide.is-padding-large, [class*=wp-block-].alignfull.is-padding-large {
  padding: var(--visual-editor-extra-space-padding-large, unset);
}
[class*=wp-block-].alignwide.is-padding-huge, [class*=wp-block-].alignfull.is-padding-huge {
  padding: var(--visual-editor-extra-space-padding-huge, unset);
}
[class*=wp-block-].alignwide.disable-padding-horizontal, [class*=wp-block-].alignfull.disable-padding-horizontal {
  padding-left: 0;
  padding-right: 0;
}

[class*=wp-block-].alignfull.fixed-layout-width > .wp-block-cover__inner-container,
[class*=wp-block-].alignfull.fixed-layout-width > .wp-block-group__inner-container {
  max-width: var(--visual-editor-extra-default-layout-width, 1024px);
  padding-left: var(--visual-editor-extra-default-stack, 1.28rem);
  padding-right: var(--visual-editor-extra-default-stack, 1.28rem);
}

/** buttons **/
.wp-block-buttons {
  display: flex;
  flex-wrap: wrap;
  /** button align **/
}
.wp-block-buttons.alignleft {
  float: unset;
  text-align: unset;
  justify-content: flex-start;
}
.wp-block-buttons.alignright {
  float: unset;
  text-align: unset;
  justify-content: flex-end;
}
.wp-block-buttons.aligncenter {
  text-align: unset;
  justify-content: center;
}
.wp-block-buttons .wp-block-button {
  display: block;
}

.wp-block-buttons {
  /** button width **/
  /** button size **/
}
.wp-block-buttons .wp-block-button.is-button-width-quarter .wp-block-button__link, .wp-block-buttons .wp-block-button.is-button-width-one-third .wp-block-button__link, .wp-block-buttons .wp-block-button.is-button-width-half .wp-block-button__link, .wp-block-buttons .wp-block-button.is-button-width-three-quarters .wp-block-button__link, .wp-block-buttons .wp-block-button.is-button-width-full .wp-block-button__link {
  width: 100%;
}
.wp-block-buttons .wp-block-button.is-button-width-quarter {
  width: calc(25% - 8px);
}
.wp-block-buttons .wp-block-button.is-button-width-one-third {
  width: calc(33.33% - 8px);
}
.wp-block-buttons .wp-block-button.is-button-width-half {
  width: calc(50% - 8px);
}
.wp-block-buttons .wp-block-button.is-button-width-three-quarters {
  width: calc(75% - 8px);
}
.wp-block-buttons .wp-block-button.is-button-width-full {
  width: 100%;
  margin-right: 0;
}
.wp-block-buttons .wp-block-button:hover .wp-block-button__link {
  text-decoration: none;
}
.wp-block-buttons .wp-block-button.is-button-size-small .wp-block-button__link {
  font-size: 90%;
  padding: 0.3rem 2rem;
}
.wp-block-buttons .wp-block-button.is-button-size-large .wp-block-button__link {
  font-size: 140%;
  padding: 0.8rem 2rem;
}

/** button width **/
.wp-block-button.is-button-width-quarter .wp-block-button__link, .wp-block-button.is-button-width-one-third .wp-block-button__link, .wp-block-button.is-button-width-half .wp-block-button__link, .wp-block-button.is-button-width-three-quarters .wp-block-button__link, .wp-block-button.is-button-width-full .wp-block-button__link {
  width: 100%;
}
.wp-block-button.is-button-width-quarter {
  width: calc(25% - 8px);
}
.wp-block-button.is-button-width-one-third {
  width: calc(33.33% - 8px);
}
.wp-block-button.is-button-width-half {
  width: calc(50% - 8px);
}
.wp-block-button.is-button-width-three-quarters {
  width: calc(75% - 8px);
}
.wp-block-button.is-button-width-full {
  width: 100%;
  margin-right: 0;
}

/** button size **/
.wp-block-button:hover .wp-block-button__link {
  text-decoration: none;
}
.wp-block-button.is-button-size-small .wp-block-button__link {
  font-size: 90%;
  padding: 0.3rem 2rem;
}
.wp-block-button.is-button-size-large .wp-block-button__link {
  font-size: 140%;
  padding: 0.8rem 2rem;
}

.has-backgrond-image.has-parallax {
  background-attachment: fixed;
}
.has-backgrond-image.has-repete {
  background-repeat: repeat;
}
.has-backgrond-image.has-no-repete {
  background-repeat: no-repeat;
}

/** width **/
[class*=wp-block-].is-width-25 table, [class*=wp-block-].is-width-50 table, [class*=wp-block-].is-width-75 table, [class*=wp-block-].is-width-100 table {
  width: 100%;
}
[class*=wp-block-].is-width-auto table {
  width: auto;
}
[class*=wp-block-].is-width-unset table {
  width: unset;
}

[class*=wp-block-].is-width-25 {
  width: 26%;
}
[class*=wp-block-].is-width-50 {
  width: 50%;
}
[class*=wp-block-].is-width-75 {
  width: 75%;
}
[class*=wp-block-].is-width-100 {
  width: 100%;
}
[class*=wp-block-].is-width-auto {
  width: auto;
}
[class*=wp-block-].is-width-unset {
  width: unset;
}
